aiogram~=3.0
environs~=9.0
redis
betterlogging~=1.0.0
aiogram_dialog~=2.2.0

# # For enabling api:
backoff~=2.2.1
ujson~=5.10.0
yarl~=1.9.4

# # For PostgreSQL sqlalchemy + alembic:
sqlalchemy~=2.0
alembic~=1.0
asyncpg

aiocryptopay~=0.4.4
typing_extensions~=4.12.2
aiohttp~=3.10.5
smsactivate~=1.5
requests~=2.32.3